h1{
    color: white;
    
 }
 button{
    margin-top: 3%;
    background-color: transparent;
    color: white;
    width: 20%;
    border: white 2px solid;
    padding: 5px 0;
    font-size: 25px;
    border-radius: 5px;
 }
 button:hover{
    background-color: white;
    color: rgb(184, 85, 85);
    transition: 0.5s ease-out;
 }
 .container{
    margin-top: 10%;
 }
 span{
    color: white;
 }
